@media screen and (max-width: 600px) {
    .logo-name img{
        margin-left: 20px;
    }
    .nav-menu {
        display: none;
    }

    .hamburger {
        display: block;
        width: 50px;
        height: 50px;
        margin: auto;
    }

    .banner {
        width: 335px;
        height: 483px;
        flex-shrink: 0;
        margin: auto;
        padding: auto;
        margin-top: 50px;
    }

    .banner-container {
        padding-top: 32px;
        width: 335px;
        height: 345px;
    }

    .color-mix .place-finder {
        margin: 0;
        justify-content: center;

    }


    .banner .banner-title h1 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .banner .banner-title p {
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 32px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .banner .place-finder {
        margin-right: 24px;
        margin-left: 24px;
        text-align: center;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);


    }

    .place-finder input,
    select {
        width: 100%;
        margin-bottom: 16px;
    }

    .place-finder input {
        width: 96%;
    }

    .btn-primary {
        width: 100%;
    }

    .popular-tours {
        flex-direction: column;
        margin: 0;
        padding: 24px 20px;
    }

    .popular-tours h1 {
        font-size: 20px;
        color: #131318;
    }

    .bottom-title-description {
        padding-bottom: 1px;
    }

    .popular-tours ul {
        padding: 15px;
    }

    .popular-tours button {
        width: 174px;
        height: 52px;
        margin-top: 0px;
    }

    .tour-image {
        max-width: 375vh;
        justify-content: center;
        align-items: center;
    }

    .tour-image img {
        width: 100%;
        height: 100%;

    }


    .destination-container {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
        align-items: center;
    }

    .destination p,
    .choose-title-description {
        padding-left: 0;
        padding-right: 0;
    }

    .destination h1,
    .choose-title {
        font-size: 20px;
        padding-top: 24px;
    }

    .choose-container>p {
        margin: 0 10px;
    }

    .destination-country,
    .first-row,
    .third-row,
    .second-row {
        flex-direction: column;
    }

    .destination-country img {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 200px;
        flex-shrink: 0;

    }

    .card {
        flex-direction: column;
        margin: auto 15px;
        margin-bottom: 24px;
    }

    .card .card-container {
        width: 100%;
        height: 289px;
        justify-content: center;
    }

    .card-container img {
        padding: 32px 0 16px 32px;
        width: 48px;
        height: 48px;
    }

    form {
        flex-direction: column;
    }

    form .newsletter-form {
        margin: 0 auto;
        width: 85%;
        height: 353px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 30px;
    }

    .form-title {
        font-size: 20px;
    }

    form button {
        margin-top: 0px;
    }

    .travel-image img {
        margin: 0 5%;
        width: 90%;
        height: auto;
        border-radius: 16px;
    }

    .discount70 {
        width: 214px;
        height: 79px;
        margin-right: 32px;
        margin-bottom: 45px;
    }

    .discount70 p {
        font-size: 15px;
    }

    .discount70 h3 {
        font-size: 21px;
    }

    .savings {
        margin-top: 16px;
    }


    footer {
        width: 100%;
        height: auto;
    }

    footer .footer-logo-name {
        margin: auto;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-top: 32px;
    }

    .footer-description {
        margin: 0;
        width: 95%;
        padding-left: 5px;
        text-align: center;
        justify-content: center;
    
        
    }
    footer hr{
        width: 80%;
    }
    .social-icon img{
        margin-bottom: 20px;
    }

    footer p{
        padding-bottom: 20px;
        margin-top: 20px;
    }


    .package-container{
        flex-direction: column;
        width: 80%;
        margin: 0 1%;
        padding: 0;
        justify-content: center;
    
    }
}

